<div class="new-body">
  <div class="container">
    <div class="columns-center">
      <div class="box">
        <div class="field text-center">
          <strong>登録確認メールを再送信</strong>
        </div>
        <br/>
        <%= form_with model: @user, url: user_confirmation_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <div class="field">
            <%= f.label :メールアドレス, class: "label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", required: true, class: "input", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div>
          <br/>
          <div class="field-button">
            <%= f.submit "再送信", class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
