<div class="airport">
  <h1>Go Airportとは</h1>
</div>
<div class="service">
  全国の空港に関する情報の投稿や投稿 場所が検索できるサービスです。
  空港巡りが趣味の方や旅行 出張で空港を利用する方など
  どなたでも気軽に利用していただけますと幸いです。
</div>
<div class="link-info">
  <%= link_to  "新規ユーザ登録はこちら！", new_user_registration_path, class: "all-link" %>
</div>
